
div {

    padding: 50px;

}

#busyTitle {

    font-size: 2em;
    font-family: Impact;
    color: yellow;
    background-color: gray;
    font-style: italic;
    font-variant: small-caps;
    font-weight: bold;

}