
body {

    background-color: #ffff99;
    font-family: Helvetica;
}

h1 {

}


h2 {

    color: #ff6600;
    font-family: Impact;

}

ol {

    background-color: #ffcc00;
    /* font-family: Courier; */

}

li {


}

p {
    
}